[2015-07-23 22:47] russell opened #1 "Add support for COPY http method"
Seems that some of the swift APIs use the COPY method.

[2015-07-23 22:48] russell opened #2 "RST JSON output omits tags"
Add swagger tags to the JSON output of server.

[2015-07-23 22:51] russell opened #3 "Add visualisation of JSONSchema"
There needs to be a way to visualise JSON schema

[2015-07-23 22:54] russell opened #4 "Annotate path with descriptions of the components"
This could probably be done using http://getbootstrap.com/css/#basic-abbreviation

[2015-07-27 21:31] russell commented on #2
The server now includes json tags

[2015-07-27 21:31] #2 closed, assigned to nobody

[2015-07-27 21:32] russell opened #5 "RST: rename swagger tag, summary option to synopsis"
This will bring it in line with the rest of the httpdomain extensions that is being used.

[2015-07-27 21:33] #1 closed, assigned to nobody

[2015-07-27 21:33] russell commented on #1
Done

[2015-07-28 00:27] russell commented on #5
done

[2015-07-28 00:27] #5 closed, assigned to nobody

[2015-07-28 07:34] russell opened #6 "Some paths are being converted with double slashes"
e.g. /v3//OS-PKI/revoked from the identity v3 api

[2015-08-12 20:46] elmiko opened #7 "migrate.sh fails to install venv"
i'm trying to follow the workflow described in the README, but the defaults don't seem to be available.

steps to reproduce:
1. clone new fairy-slipper repository
2. run `./migrate.sh -V`

output is as follows:

[code]

[2015-08-12 21:27] #7 closed, assigned to nobody

[2015-08-12 21:34] russell commented on #7
Hi!

Thanks for the bug report.  The supporting scripts are bad at the moment.  But I have just put in a little effort to support the standard OpenStack venv code.  So there is now a `run_server.sh` script that will fire up the webserver in the same environment that is used during the migration.

Happy Hacking!

[2015-08-13 01:15] elmiko commented on #7
thanks, i'll give it a try =)

[2015-08-13 13:35] elmiko commented on #7
just wanted to add that i tried the latest patch and it installed to venv just fine. thanks for the update!

[2015-08-20 00:59] russell opened #9 "Full end to end conversion test"
look at confirming that the conversion of the source to Swaggerish matches our custom Swagger Schema.  So we will need to find a schema validator and write a test that migrates all the data and checks it validates.

[2015-08-20 01:03] russell opened #10 "Add javascript testing framework"
We need to start developing javascript tests.  So we need infra to support that and some initial tests.

[2015-08-23 20:43] kbhawkey opened #11 "generated rst, missing single space between words"
.. swagger:tag:: policies
   :synopsis: Policies

   Manages policies.

   You can encode policy rule sets into a blob to be consumed byremote
   services. To do so, set `type`to `application/json`and specify
   policy rules as JSON strings in a `blob`. For example:

[2015-08-23 20:58] kbhawkey commented on #6
I am taking a look at this issue.

[2015-08-23 21:03] kbhawkey commented on #9
I would like to help out with validation.

[2015-08-24 19:36] kbhawkey opened #12 "Rst error, objectstorage v1, need an empty line after code-block directive"
2015-08-24 15:31:29,382 [INFO    ] [pecan.commands.serve][MainThread] "GET /doc/objectstorage/v1/ HTTP/1.1" 200 41807
<string>:199: (ERROR/3) Error in "code-block" directive:
maximum 1 argument(s) allowed, 6 supplied.

.. code-block:: json
   "OS-OAUTH1": {
       "access_token_id": "cce0b8be7"
   }

[2015-08-24 20:30] kbhawkey commented on #6
I have a fix for several of the .wadl files.

[2015-08-26 16:50] kbhawkey commented on #6
A fix for this bug has been submitted,
https://bugs.launchpad.net/openstack-api-site/+bug/1489023

[2015-08-26 16:50] #6 closed, assigned to kbhawkey

[2015-08-26 16:52] kbhawkey commented on #12
I will add a fix for this.

[2015-08-27 08:40] russell commented on #6
Good stuff, I honestly assumed that it must have been a bug in fairy-slipper.

[2015-08-27 16:49] kbhawkey commented on #12
Hi. I propose this fix to tools/wadl_to_swagger.py.

 def visit_programlisting(self, attrs):
        if not attrs:
            self.content.append('::\n')
        else:
            self.content.append('.. code-block:: %s\n\n' % attrs['language'])
        self.nesting = 3

[code]

[2015-08-27 16:56] kbhawkey commented on #11
In the DocBook files, the para element may contain a newline character. The newline character appears
to be cleaned-up and no space inserted in the case where the text continues.  The errors show up in
generated .json files, 'summary' tags, after docbkx_to_json processing.

This may not be the only type of case, see ch_identity-v3-ext.xml, last para element has an embedded
link element with text.

[2015-08-27 19:27] kbhawkey opened #13 "rst tables written out as plain text, not html tables, rest.py"
I narrowed down a problem loading the page for a number of services that contain tables,
database v1, image v2, blockstorage v2, networking-extension v2, identity-extension v2.
Two problems:
1) There appears to be a problem with the method,
default_visit(self, node) in rest.py
This is called after the table is visited and the subsequent index is a string not an integer.
2) The tables in the variou

[2015-08-27 19:39] kbhawkey commented on #6
I thought it best to make the wadl files consistent for the resource path attribute rather than implement different checks in wadl_to_swagger.py.

[2015-08-30 11:16] russell commented on #9
I'm thinking that we will need to include the Swagger schema in fairy-slipper somewhere, both Anne and i have had a crack at making a custom schema.

@annegentle seems to have made the most progress https://github.com/annegentle/fairy-slipper/tree/json-schema

Mine is here https://github.com/russell/swagger-spec

When i started making random changes to the swagger that is output I didn't know that

[2015-08-30 11:16] #10 closed, assigned to russell

[2015-08-30 21:24] russell opened #14 "Create widget for embedding in other documentation"
Create widget that can be exposed within normal narrative documentation

https://forgeapi.puppetlabs.com/

Most of the current documentation is using Sphinx, so creating a sphinx plugin to inject the widget is probably the best step forward.

[2015-09-01 14:49] annegentle commented on #9
I'm looking at validation and I think we'll need to "glue" together all the json to make a single swagger.json file per service. Then, we can validate after we get the specific vendor extensions merged, I think I'm calling it `x-post-action-pathItem`. @kbhawkey I'll keep working on my branch with the vendor extension, merge it, then look at how validation works and help however I can.

[2015-09-01 14:50] annegentle commented on #9
Oh, and my reasoning for a single swagger.json file per service is so that we can use the online validator for nearly all the services: https://github.com/swagger-api/validator-badge

[2015-09-01 16:00] kbhawkey opened #15 "clean-up docbook and wadl missing tags, method warnings generated by migrate script"
I logged four bugs against api-site DocBook and WADL files.  Two issues have been merged.
I am still looking into the remaining bugs.  There are a few more to log.  This should help clean-up the warnings from migrate.sh as well as tidy up the xml and wadl content.

[2015-09-01 21:04] russell commented on #15
Great stuff!  Yeah, it's funny in the short term fairy-slippers isn't a bad way to verify the WADL's content.

[2015-09-01 21:31] russell commented on #9
Thanks @annegentle, that is cunning to have the our swagger extension kept in a separate file.

I was hoping that we could hook up a validator so we can test the migration and even use it in the intermediate conversion step to help us reduce the divergence of the 2 versions of swagger.  From what I can see the online validator requires us to host the swagger.json on a public website.  This will be

[2015-09-01 21:40] russell commented on #11
This can be a hard area to work in.  I think i must have recently introduced the bug by accident.  I did a bunch of work 26792a7d32ebb9a84cb921938d5a91b6dda85693 in that area.  I imagine that code is buggy and doesn't work when there is a newline.

Basically from what I remember, when we parse the WADL, we trim any whitespace and the we join the list of strings with a space. This must not be worki

[2015-09-01 21:47] russell commented on #13
They should be written has markdown style tables https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#tables

@kbhawkey i apologize it's a bit crazy because we are writing a RST -> Markdown translator.  So you'll need to make it output a table in Markdown text format not HTML.

But, the good news is, that area actually has test!  there is a test_rest.py file, it has some simple convers

[2015-09-02 09:41] #4 closed, assigned to russell

[2015-09-02 12:13] russell commented on #11
OK, I have pushed a sample test for the wadl_to_swagger code.  It's pretty poor.  But It's enough to start basing other simple tests on.

[2015-09-02 16:42] annegentle commented on #9
Okay, and to get the swagger.json glued together, do we need to use json-spec? https://pypi.python.org/pypi/json-spec Or are you already? I don't see a swagger.json file anywhere so far, so I'm looking into it.

[2015-09-03 08:00] russell opened #16 "Add support for link tags in WADL"
Currently the swagger to WADL ignores link tags like

[code]

[2015-09-03 08:19] russell commented on #12
I don't know how i missed it, but i stumbled across your branch and merged it.  I have also added a couple of test cases for it 2ef2e2f05526361ddcf7ca548bb0cb606c2143c7.  I have included a way to test just the tags that appear in the wadl:doc parts, so all the para tags and other complex formatting.   Which i imagine are going to be the source of most of the remaining bugs.

You can commit directl

[2015-09-03 08:19] #12 closed, assigned to kbhawkey

[2015-09-03 08:20] russell commented on #11
I have split the missing link content out into a separate issue, that way we a can at least have the illusion of progress!

[2015-09-03 09:46] kbhawkey commented on #12
Good, I will take a look at the test cases. I worked off a local branch and
thought I pushed to master.
I was wondering why I did not see the changes on my local master branch
after a fetch.
Thanks.

On Thu, Sep 3, 2015 at 4:19 AM, Russell Sim notifications@github.com
wrote:

[2015-09-07 16:39] kbhawkey commented on #13
Tables are writing as Markdown.  Remaining work:
-Address table inline definintion lists,
column spacing (use colwidth attribute on colspec node, tgroup node has col attribute),
add new lines after table for spacing between body text.
-Rework handling of table paragraph and Text nodes (both contain the same text).  I would expect the processing of the inline markup to be simpler.  I have some idea

[2015-09-09 14:20] kbhawkey commented on #11
I looked into the missing single space in the para node.  In the case of text with inline markup, a space is added before and after the markup.  Good.  In the depart_para(), a join of the strings is made, though no space is placed between the elements in this list.
I tested a join with a space and removed the additional spacing in the code literal and emphasis markup cases.  Looks fine.  Though, I

[2015-09-10 08:31] russell commented on #9
No we aren't using json-spec currently, but it looks pretty sweet. Initially we probably need 2 things

One will be the original v2 swagger schema and then an auxiliary schema file that contains our addons.   I think at that point we can start experimenting with how we validate without storing the merged file.  That would be much better in the long run.

Once we have the schemas we can look at add

[2015-09-11 17:09] kbhawkey opened #17 "dbaas.wadl table output with extra header names, wadl_to_swagger"
The database wadl file in api-site, dbaas.wadl contains several tables.  The file database-v1-swagger.json, generated by wadl_to_swagger contains the tables, but with extra header fields, such as "Field 1", "Field 2", "Field 3" in each table.  See prettytable.py add_row() and its usage in depart_tr(), wadl_to_swagger.py.

[2015-09-13 02:21] russell opened #18 "Integrate with horizon"
Consider integrating with horizon,  so host out of the normal horizon interface.

Pros
- access to a token
- access to a proxy that will allow us to call other services without CORS
- access to the service catalog

[2015-09-13 08:13] russell commented on #3
A basic implementation has been added.  Room for improvement, but I'll open another issue when i can identify a specific way to improve it.

[2015-09-13 08:13] #3 closed, assigned to russell

[2015-09-13 08:48] russell opened #19 "Parse request/response examples from the tempest"
I have started to do this already, so i thought i should make sure it's visible.

Basically it's trivial to modify tempest to log all requests/responses to a log file the output looks like

[code]

From here i plan to write a tool to parse this into a data structure, then i will be able to merge this raw data with the existing swagger examples.

[2015-09-13 18:27] #11 closed, assigned to kbhawkey

[2015-09-15 11:30] russell commented on #19
This works well I have seen a general increase in the number of examples.  The logging currently relies on the user modifying the tempest log format, we should instead take the logs from the build server.

Some requests will have their log messages truncated, we should detect this and ignore those requests, logging as we go.  That way we can fill them in manually.

Same should be done for the toke

[2015-09-15 11:32] russell opened #20 "Routes inspector needs improvement"
It's working again, and documented.  But it needs to convert the stubs to swagger format if it can't find any documentation.  This resulting swagger can then be fed to the swagger_to_rst script to generate an initial service documentation.

[2015-09-15 11:36] russell commented on #17
I think this can be fixed by disabling headers in tables that don't have them

[code]

[2015-09-15 12:45] kbhawkey commented on #17
Good idea.  Also, one table in dbaas.wadl is missing column data which accounts for the row extension and extra add_row() in depart_tr().  For consistency, I will add this check to docbkx_to_json.

[2015-09-15 13:17] kbhawkey opened #21 "wadl_to_swagger, missing newline before itemizedList"
Output in database-v1-swagger.json contains,
Notes- A user is granted all privileges

There is a title node before the itemizedList node and no new line to separate the title from the list.
The first element of the list is missing the bullet and indentation.

[2015-09-15 15:03] #17 closed, assigned to kbhawkey

[2015-09-16 14:57] annegentle commented on #9
Okay, more notes as I keep working on a separate swagger file, we're finding that you have to have an entire `swagger.json` in order to validate, and nearly all the tools make it difficult to use `$ref` to split the large file into smaller ones.

[2015-09-16 23:33] russell opened #22 "RST flavoured swagger"
To provide an easy way to alter the embedded markup format in the swagger output.   This will be another way to round trip the data from rst -> swagger -> rst without needing to modify a markdown parser.

This will make writing supporting bots easier.

[2015-09-18 20:50] #21 closed, assigned to nobody

[2015-09-18 20:52] kbhawkey commented on #13
I plan to close this issue.  The tables are writing markdown and basic testing is in place.
Further work needs to be done to style the tables and table elements.

[2015-09-20 06:04] russell commented on #13
Great work!

I have added the markdown table rendering, I ended up hooking into the Marked renderer.  It was the method that would easily work in the end.

[2015-09-20 06:04] #13 closed, assigned to kbhawkey

[2015-09-23 21:39] annegentle commented on #9
Ok, what we found while testing a half dozen solutions, is this works to validate Swagger created from multiple JSON files:

Use a `deref.js` file like this one: https://github.com/jamiehannaford/swagger-magnum/blob/master/deref.js

Install these pre-requisistes:

[code]

And then run:

[code]

That'll output a `swaggerFull.json` file that is built from separate `.json` files that have the JSON Sc

[2015-09-24 07:29] russell opened #23 "Nest extensions in navigation"
Currently in the navigation extensions are listed as a separate section,

![screenshot from 2015-09-24 17-28-02](https://cloud.githubusercontent.com/assets/2660/10067666/b77d1ec2-62e1-11e5-8aca-c3764c7a07e5.png)

The extensions should be listed under the version e.g.

[code]

[2015-09-24 07:33] russell opened #24 "Incorrect rendering of code blocks"
Some code blocks are being rendered on one line, but they obviously should span a few.

![screenshot from 2015-09-24 17-32-37](https://cloud.githubusercontent.com/assets/2660/10067763/525f3196-62e2-11e5-99a3-16e734ab7013.png)

[2015-09-24 07:34] russell commented on #19
Ok update latest version.  Doesn't work with swift logs but the rest are fine.

[2015-09-24 07:34] #19 closed, assigned to russell

[2015-09-24 13:56] kbhawkey opened #25 "literal blocks in itemizedlist, incorrect format"
Literal blocks in an itemized list are not rendering correctly.  Evaluate processing of programlisting elements within a paragraph in an itemizedlist.  The generated json from wadl is missing new lines after the double colon.

[2015-09-24 17:40] kbhawkey commented on #25
I will look into the processing and rendering of literal blocks, code blocks nested in itemized lists.

[2015-09-24 17:53] kbhawkey commented on #24
This may intersect with #25.  I will see what I find.

[2015-09-24 21:24] russell opened #26 "Remove by-path navigation link"
That view probably wont be used too much.  It should still be maintained, but if i remove it from the navigation then it will bring us closer to a polished product.

[2015-09-26 21:24] #16 closed, assigned to kbhawkey

[2015-09-26 23:38] #23 closed, assigned to russell

[2015-09-26 23:38] #26 closed, assigned to russell

[2015-09-27 00:20] russell opened #27 "Display response schema"
The response schema isn't displayed.

It should probably be incorporated along side the examples.

I think we want a interface that associates the schemas for requests with the request examples and vice versa.

[2015-09-27 03:02] russell opened #28 "Inheritance of methods"
I think that we should define a new http method type called abstract, It's purpose will be to define the generic values of return codes and headers/parameters/tags that are relevant to all calls that inherit from this abstract implementation.

[code]

Each real method definition should be able to inherit from a single abstract method.  The abstract methods should be able to inherit from each other

[2015-09-28 04:42] russell opened #29 "content length in Tempest examples is wrong"
At the moment we pretty print the results but we don't update the content length header, so the example is a bit invalid :(

[2015-09-28 15:58] kbhawkey commented on #24
I am closing this issue. Plan to submit a change to the name of the docbkx test.
Issue #25 should address the formatting of programlisting, code, listitem embedded in paragraphs.

[2015-09-28 15:58] #24 closed, assigned to kbhawkey

[2015-09-29 21:40] russell commented on #9
I have started to investigate this.  I have a partially working validator.  I should be able to have it completed in the next couple of days.  @kbhawkey if you have started on this please let me know and I'll find something else to do.

[2015-09-29 22:52] kbhawkey commented on #9
Go ahead @russell.  I am finishing up issue #25.

[2015-09-30 15:31] kbhawkey opened #30 "rst literals followed by punctuation, back to back literals"
Two issues:
- When two literals are back to back there need to be two spaces between them, for example:
  Some example `text`  `another text` and then more text.
- Should remove space after literal if next char is punctuation (. ; :) such as:
  This is an example of `ending literal`.
  Or, This is a sample `text`: and some more.

[2015-10-06 13:58] #25 closed, assigned to kbhawkey

[2015-10-06 14:00] kbhawkey opened #31 "Rendering of nested lists"
Lists with sub lists are not formatted correctly (missing a level of indentation).

[2015-10-07 13:15] kbhawkey commented on #29
I have started on this and am in the process of testing.

[2015-10-08 13:52] #29 closed, assigned to kbhawkey

[2015-10-13 18:13] kbhawkey commented on #31
docbkx_to_json, wadl_to_swagger should be updated.

[2015-10-13 18:16] kbhawkey commented on #31
Updated docbkx_to_json, wadl_to_swagger to render nested unordered lists.
Updated rest.py to render nested list markdown.  Still need to investigate the output of nested lists in html.

[2015-10-14 17:48] kbhawkey commented on #28
I am investigating this now.

[2015-10-17 16:15] kbhawkey commented on #31
The html output for lists is a bit odd:
Each list item is represented in the dom as <ul><li></li></ul>
Instead of a list of items in a single bullet list, <ul><li></li><li></li><li</li></ul>
And then nested lists are never indented or created with nested <ul>.

[2015-10-19 18:43] kbhawkey commented on #31
Solved the problem with blank lines before bullet lists and blank lines required before subsequent paragraphs in lists.

[2015-10-19 18:46] #31 closed, assigned to kbhawkey

[2015-10-30 00:57] russell opened #34 "RST output has extra whitespace"
In situations where there is no doc string at the moment extra whitespace is created. :(  it would be better if in cases where there is no doc string that only one blank line was output.

https://github.com/russell/fairy-slipper-migration/blob/tempest-log/api_doc/compute/v2.1.rst#L108

[2015-10-30 18:24] kbhawkey opened #35 "directive for curl client cmd, http server resp"
Some of the service method descriptions embed curl commands along with http responses.  Would it be useful to pull these out of the description and create a directive to tag as, for example, http req/resp output.  This text could be associated with a curl/http (cmd, code block) widget and used within the display, outside of the description.

[2015-11-03 20:10] kbhawkey opened #36 "extra space after hyphen in text"
Occasionally, there is a space inserted after the hyphen in a word, probably due to text wrapping.  Typically the word is formatted as a code literal.
Ex. manilla- share

[2015-11-03 21:23] annegentle opened #37 "Move repository to openstack organization"
Just wanted to note here that we discussed at the Summit to move this repo to use the Gerrit workflow. Let us know in this issue if you have any difficulties with that move. I think it makes sense to move so that projects will know about it and use it for the API docs.

[2015-11-03 21:46] annegentle commented on #35
Yes, I think it would be useful -- preserves the curl commands while also lets us use the examples eventually in the display. Good thinking.

[2015-11-04 17:04] kbhawkey opened #38 "increase font size of short decription text, markup"
The font size of the short description text is too small. The text also contains semantic markup,
i.e., `RESCUE` .

[2015-11-04 20:26] annegentle commented on #15
I went ahead and revised existing WADL files so that the 200 203 isn't combined as a status so the migrations are "cleaner."

[2015-11-04 21:02] russell opened #39 "Action URLs"
I have been thinking about how we can document some of the calls that take multiple requests and responses.

The mime type spec can use a `;` to indicate subsequent parameters are options.  You often see these used to indicate that the encoding is utf8 but we could use it to uniquely identify.  I was thinking that they could be used to identify groups of request/responses.  This would help in this

[2015-11-04 21:06] russell commented on #38
Yeah, it can be a bit wee.  I don't see a problem with increasing the size, I think originally I just didn't want it to feel too boxy.  But yeah, looks like we need to be interpreting the mark up and making it bigger.

![screenshot from 2015-11-05 08-03-53](https://cloud.githubusercontent.com/assets/2660/10951853/e113d3de-8393-11e5-9889-2430e2cc0393.png)

[2015-11-04 21:08] russell commented on #37
Yeah, I think anything we can do to prevent people duplicating our work is great.

I'm assuming that we will also need to move all the issues to launchpad?
Will we need to do anything to get the CI system to use our tox config?

[2015-11-04 23:11] kbhawkey commented on #15
Just to note, there are two new 'Can't find method' warnings as well as the previous ten warnings about 'No tag for methods'.  I think I logged a bug against the various ''No tag' wadls; I recall a build error producing a pdf.

[2015-11-04 23:31] kbhawkey opened #40 "label overlaps operation title"
Sometimes the left hand label overlaps the operation title. The title is on the next line instead
of next to the label.  I see this occurring, in orchestration -> Templates -> Show resource schema.

[2015-11-05 03:43] annegentle opened #41 "Sometimes, there's not much more to write beyond the short description"
I see a lot of " Unfortunately this API operation is not fully documented." when there's not much more to say about a particular call. :no_mouth: Heh. So should we just move that one-liner short description into that area?

[2015-11-05 04:00] annegentle commented on #41
Oh, and I'm also seeing the opposite, where GET "List extensions" for the Networking API has "None" for the short description and then has text when you expand the call. So we should probably call the short description good enough for one of the places.

[2015-11-05 05:19] russell commented on #41
Yeah, i think that the "Unfortunately this API operation is not fully documented." should probably be replaced with an image.  So that the page formatting looks ok even when there is no text.  Yeah, we shouldn't have any `Nones` creeping through.  Thats bad.

[2015-11-09 17:58] kbhawkey commented on #40
This is related to the length of the synopsis or short description.  While I like the information provided on the label for each method, I think that the text probably belongs with the Description.  This would also provide some descriptive text where there is none, issue #41.  The short description really needs to be short, else the content and display are not uniform, issue #38.  Sometimes the sh

[2015-11-11 04:47] annegentle commented on #37
I think we can track issues in http://bugs.launchpad.net/openstack-api-site, sound good?

We'll need to do some CI work in the openstack-infra/project-config I believe so that the tox jobs are run in the gate on each submitted patch. I think potential jobs are:
- migrate wadl (since we need to do this for many services, and make sure it works each time, then eventually remove wadl for each service

[2015-11-11 04:57] annegentle commented on #37
Assigning myself -- I'll make a patch like https://review.openstack.org/#/c/151766/ -- which imported the Sphinx theme.  I'll create an ACL list with @russell @joannahuang @kbhawkey for starters, @jtopjian let me know if you'd like to be added as well.

[2015-11-11 17:41] kbhawkey commented on #27
I am temporarily assigning this to myself.  I have been looking at the response schema objects and will see what I can do to display them.

[2015-11-11 17:46] kbhawkey commented on #30
I put this on hold, as I am not sure how important it is to the wadl migration.

[2015-11-13 00:26] russell commented on #40
I did try really hard to prevent this.  But we need some CSS wizard to fix it.

Yeah, we could also reproduce the synopsis in the description if there is no description?  Yeah i agree to fix #38 we really need to have consistent short formatting.  I can easily add markdown rendering to that to see how it looks?

[2015-11-13 16:18] annegentle commented on #41
I'm not a fan of an image -- seems shame based and we won't get the shame from the people who write this stuff since they don't read it, and it makes for a worse experience for the readers. How about repeating the shortdesc but then littering the source with comments like "THIS NEEDS MOAR DOC PLZ"?

[2015-11-13 16:28] jtopjian commented on #37
Hi Anne,

Sorry for the late reply. Thanks for the offer. I think I'll just subscribe to Gerrit notifications and help where I can :smile:

Joe

[2015-11-14 04:46] annegentle commented on #37
Okay, sounds good! I've got a WIP patch up here: https://review.openstack.org/#/c/245352/

[2015-11-16 08:59] russell commented on #37
@annegentle I'm having a look over the review.  I'll update an updated patch shortly

[2015-11-16 16:07] kbhawkey opened #42 "Generation of response schema"
- Add the description string to the swagger response object.  Use the operationId and response status code for the description.
- Add the schema object to the swagger response object
  - For methods that list response parameters, update schema object to refer to this schema
- Generate the responseschema tags for displaying the response schema, see #27.

[2015-11-16 19:06] kbhawkey opened #43 "request parameter desc, formatting of literal block"
- wadl_to_swagger generates a rst literal block within the method's request parameter description.
- swagger_to_rst needs to be updated to maintain the formatting of this code block.

[2015-11-17 19:13] #30 closed, assigned to kbhawkey

[2015-11-24 16:22] kbhawkey commented on #28
I see a few `tags` with are shared amongst the method directives:
- statuscode 200 - 500
- accepts
- produces
- tag is shared within a set of methods
- parameter {{name}} can be common for a given service

[2015-11-24 17:05] kbhawkey commented on #42
- Added an empty description string to the swagger response object, though it is updated further along in the processing.
- When defined in the wadl files, the response parameters are pushed to the swagger definitions and referenced by a single schema file in the response object.
- Some methods have several response status codes associated with a single response representation.

[2015-11-30 17:46] kbhawkey commented on #43
- Generate Markdown for parameter descriptions.
- Update UI to handle parameter descriptions as Markdown.

[2015-12-01 14:40] annegentle opened #44 "Not getting a .venv even when using -V for migrate.sh script"
I have to manually source the .venv/bin/activate file to get a virtual environment for the `migrate.sh` script. I'm not sure why my script never seems to use the `/tools/with_venv.sh` to source the bin/activate file?

[2015-12-01 15:20] annegentle commented on #37
Updated based on reviews.

[2015-12-02 15:43] kbhawkey opened #46 "wadl: programlisting, paragraphs"
The wadl files appear to have introduced a change in the area of para and programlisting elements.
As a result, the rst rendering is not correct.  The rendering of literal blocks, code examples in lists will need to be revisited as well as how and where to display curl examples (possibly not in the main description for the operation). See objectstorage as an example.

[2015-12-02 15:56] kbhawkey opened #47 "rendering of table with embedded list"
- Possibly re-design the table (currently in wadl) and remove the list from the table.
  -  Create a separate list element.
- Verify that the generated rst is correct for an embedded list in table.
- Verify that markdown can handle a list embedded in table cell.
- An example can be found in ch_identity-v3.xml.

[2015-12-02 17:49] #42 closed, assigned to kbhawkey

[2015-12-04 00:28] #43 closed, assigned to kbhawkey

[2015-12-04 19:48] annegentle commented on #37
This is still ongoing, awaiting the patch passing an IRC test but I think because of the freenode DDoS attacks still ongoing we may need to wait another week or so.

[2015-12-04 20:26] annegentle opened #49 "No need to output "schemes" for transport protocol in Swagger output"
Since that's up to the cloud provider to put an API on `http` or `https` transport protocol, no need to output that in our Swagger files.

[2015-12-04 20:29] annegentle opened #50 "No need to output securityDefinitions object when migrating from WADL to Swagger"
None of our WADL definitions have any information about securityDefinitions so no need to output in the generated Swagger. For more info about the securityDefinitions object, see:
https://github.com/swagger-api/swagger-spec/blob/master/versions/2.0.md#securityDefinitionsObject

[2015-12-04 20:52] annegentle commented on #46
Ah, object storage tends to have a lot of examples embedded, though mostly it was supposed to be cleaned up to where the user guide has all the `curl` examples. Still, this API also is special in that it has a lot of heading listings, which are in <programlisting> tags. Can you point to one example so I can take a look?

[2015-12-08 15:33] kbhawkey opened #52 "render markdown for narrative text in swagger files"
As an alternative to rendering narrative text formatted as rst, directly output descriptions as Markdown.

[2015-12-09 02:11] kbhawkey commented on #46
I will dig into this a bit more and fix the formatting (or wadl paragraphs) if needed.  It is a formatting problem, not necessarily a content problem.  Still, I am not sure that curl commands and http header request/responses samples belong in the main operation description (see delete container or create(put) container).  The http header fields should be listed in the request and response details

[2015-12-11 19:12] kbhawkey opened #53 "multiple status codes in response"
The object storage method, createContainer, has a method that returns a response with status codes 201 and 204 and this results in an error setting the response header params.  Update the processing of multiple status codes per response.

[2015-12-14 19:09] annegentle commented on #50
Removed the securityDefinitions object, so closing this bug.

[2015-12-14 19:09] #50 closed, assigned to annegentle

[2015-12-14 19:10] annegentle commented on #49
Removed the schemes object, so closing this bug.

[2015-12-14 19:10] #49 closed, assigned to annegentle

[2015-12-14 19:10] annegentle commented on #53
Ah, we found that with 200 and 203 in other WADL files. Would it make sense to separate it out in the WADL source?

[2015-12-14 19:12] annegentle commented on #9
I'm looking at outputting Swagger for most all services, then using the $ref mechanism to extend the services Swagger that uses the POST blah/blah/actions over and over.

[2015-12-14 19:40] kbhawkey commented on #44
It looks as if this sources a number of times now (or at least I see the new 'echo' line repeated a few times).

[2015-12-14 19:44] kbhawkey opened #54 "adding processing of links in docbkx files"
Links are processed in wadl files.  Adding processing of links to docbkx chapter files.

[2015-12-14 19:49] kbhawkey commented on #9
Can you elaborate a bit more and point to a specific example of extending a service and what the generated swagger would look like?

[2015-12-15 02:49] annegentle commented on #9
Yep, looking for https://github.com/jamiehannaford/swagger-magnum/blob/master/v1/swagger.json as the output swagger files, with the $ref files also output and then referred to from the `swagger.json` file.

The extensions for swagger are described here: https://github.com/swagger-api/swagger-spec/blob/master/guidelines/EXTENSIONS.md

What I'm thinking of is this:

using x- for the POST actions htt

[2015-12-15 15:25] #54 closed, assigned to kbhawkey

[2015-12-15 17:01] ubershy opened #55 "AssertionError and KeyError during execution of migrate.sh"
Hello.
When I try to run migrate.sh it fails with AssertionError and KeyError.
Here's the log:
http://paste.openstack.org/show/DVVdnMsayg16FFZ8tOQ8/

[2015-12-15 19:47] kbhawkey commented on #55
Yes, I believe I just merged a fix for this.

[2015-12-15 20:29] ubershy commented on #55
Hm, I pulled the code, deleted .venv directory, started migrate.sh again, but still see the errors. Though KeyError now sligtly changed.
http://paste.openstack.org/show/ganIQfNAXPgloICR1JpX/

[2015-12-15 21:43] kbhawkey commented on #55
Looks like you either have newer xml files or outdated ones.  I have a pending review for a few other wadl/docbk errors, but not these.  I will grab the latest files, as my working directory is clean.

[2015-12-15 21:46] kbhawkey commented on #55
Yes, the one complaint about "int" is what I believe to be an error in volume-api.  I have logged a bug for this and will submit a patch soon.  In the meantime, you could edit volumes-v2.wadl and change instances of "int" to "xsd:int".

[2015-12-15 21:56] kbhawkey commented on #55
Looks like the other error is with the clustering service.  There is an error in the file.

[2015-12-16 21:05] annegentle commented on #55
Thanks @kbhawkey! How did you get the names of the services that were throwing the errors? I used `-vvv` on the `migrate.sh` script and still just get this: http://paste.openstack.org/show/482120/

[2015-12-16 22:06] kbhawkey commented on #55
I put in a print statement to report the files processed.

[2015-12-16 22:22] kbhawkey commented on #55
I believe the clustering service is missing the version number, see line 9 of api-ref-clustering-v1.xml.
I can log a bug unless it is already logged.  Yes, that's it.  I just tested it.

[2015-12-17 14:21] annegentle commented on #55
Okay, thanks @kbhawkey I'll fix that!

[2015-12-17 16:20] kbhawkey commented on #55
Great @annegentle.  I will close this issue. Re-open as needed.

[2015-12-17 16:20] #55 closed, assigned to nobody

[2015-12-18 17:08] kbhawkey commented on #46
This was fixed by updating the wadl file (listitem and para elements).

[2015-12-18 17:08] #46 closed, assigned to kbhawkey

[2015-12-18 17:09] kbhawkey commented on #9
Let me know if I can be of help here.

[2015-12-18 21:12] kbhawkey commented on #47
The generated rst was correct.  Just updated the markdown output.

[2015-12-18 21:12] #47 closed, assigned to kbhawkey

[2015-12-19 17:30] kbhawkey commented on #34
I think I cleaned-up the extra blank line after the synopsis tag while I was working on the req params.
This issue can probably be closed.

[2015-12-23 15:34] kbhawkey opened #56 "swagger: add array of required property names in op definitions"
Add an array of 'required' property names in definition of operation. Remove required fields in each property.
For example,
"createTags-v2": {
"required": [
"name", "namespace", "tags"
],
"properties": {
"name": {}
...
}

[2015-12-24 20:39] kbhawkey opened #57 "swagger: add default value for consumes, produces at root scope"
"consumes": [
"application/json"
]
"produces": [
"application/json"
]

[2015-12-31 18:17] kbhawkey opened #58 "swagger: response object, headers, header object, property remove required field"
For example, see /v2/images/, post, responses, headers, location property.

[2016-01-01 00:00] kbhawkey opened #59 "swagger: service field in info object"
Change service field in info object to description or possibly use x-service.

[2016-01-01 00:04] kbhawkey opened #60 "swagger: change summary to x-summary"
Change summary field to x-summary in root level array of tags:
"tags": [
    {
      "description": "API versions",
      "name": "versions",
      "summary": ""
    },

[2016-01-01 00:06] kbhawkey opened #61 "swagger: change title to x-title"
In each method is a non-conforming title field.  Change to x-title.
       "put": {
        "summary": "Shows the definition for an object.",
        "tags": [
          "metadefs-namespaces-objects-v2"
        ],
        "x-title": "Show object definition"
      },

[2016-01-01 00:12] kbhawkey opened #62 "swagger: definition of type array requires items field"
In definitions of type array, missing required field, 'items' and 'type' of items.
"tags": {
          "description": "A list of Image tag.",
          "format": "",
            "type": "array",
            "items": {
                "type": "string"
            }
        },

[2016-01-01 19:18] kbhawkey opened #63 "swagger: basePath, host are empty"
For validation, if there is a basePath field it should begin with '/'.
The host field should contain a valid host string (developer.openstack.org).

[2016-01-03 01:31] kbhawkey opened #64 "swagger: clean-up method field"
Remove method field, array of op objects and add object of op objects (get, put, delete, etc).

[2016-01-04 02:02] kbhawkey commented on #9
Wrote a version of wadl to swagger which produces valid json for some services and addresses issues #56, #57, #58, #59, #60, #61, #63, #64, #65, #67. Fixes needed for #62, #66.  There may be other errors as each file is validated.

[2016-01-04 02:03] kbhawkey commented on #64
Closing, refer to issue #9.

[2016-01-04 02:03] #64 closed, assigned to nobody

[2016-01-04 02:03] kbhawkey commented on #63
Closing, refer to issue #9.

[2016-01-04 02:03] #63 closed, assigned to kbhawkey

[2016-01-04 02:03] kbhawkey commented on #61
Closing, refer to issue #9.

[2016-01-04 02:03] #61 closed, assigned to kbhawkey

[2016-01-04 02:04] kbhawkey commented on #60
Closing, refer to issue #9.

[2016-01-04 02:04] #60 closed, assigned to kbhawkey

[2016-01-04 02:04] kbhawkey commented on #59
Closing, refer to issue #9.

[2016-01-04 02:04] #59 closed, assigned to kbhawkey

[2016-01-04 02:05] kbhawkey commented on #58
Closing, refer to issue #9.

[2016-01-04 02:05] #58 closed, assigned to kbhawkey

[2016-01-04 02:05] kbhawkey commented on #56
Closing, refer to issue #9.

[2016-01-04 02:05] #56 closed, assigned to kbhawkey

[2016-01-04 02:05] kbhawkey commented on #57
Closing, refer to issue #9.

[2016-01-04 02:05] #57 closed, assigned to kbhawkey

[2016-01-04 02:08] kbhawkey opened #65 "swagger: parameter object, path"
Investigate whether the required field must be set to true for path parameters.
If so, update the path parameters.
See issue #9.

[2016-01-04 02:10] kbhawkey opened #66 "swagger: response example, corresponding schema"
Investigate the creation of schema per response example.  Verify that
response examples in wadl have matching response schema for swagger validation.
Investigate whether there are request examples.
See issue #9.

[2016-01-04 16:44] kbhawkey opened #67 "swagger: request example in Operation Object"
An example, see post op on path /v2/metadefs/namespaces, operationId = createNamespace-v2.
There is an examples object (request).  Should this field be x-examples and refer to a schema?

[2016-01-05 19:43] kbhawkey commented on #65
Refer to issue #9.

[2016-01-05 19:43] #65 closed, assigned to nobody

[2016-01-05 19:44] kbhawkey commented on #67
Refer to issue #9.  Temporarily made request examples, x-examples.

[2016-01-05 19:44] #67 closed, assigned to nobody

[2016-01-15 23:38] annegentle commented on #52
Yeah I think swagger files themselves need markdown in the json objects.

[2016-05-24 15:35] #37 closed, assigned to annegentle